@model GuildCars.UI.Models.AdminModelsViewModel
@{
    ViewBag.Title = "Admin - Models";
}

<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-12">
            <h1>Models</h1>
        </div>
    </div>
    <div class="row" id="styleBorder">
        @using (Html.BeginForm("Models", "Admin", FormMethod.Post, new { id = "formAddModel" }))
        {
            @Html.ValidationSummary()
            <div class="col-xs-4">
                <div class="form-group form-inline">
                    <label style="display:inline">New Model </label>
                    @Html.TextBoxFor(m => m.ModelToCreate.ModelName, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-xs-2">
                <div class="form-group form-inline">
                    <label style="display:inline">Make </label>
                    @Html.DropDownListFor(m => m.MakeName, Model.Makes, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-xs-1">
                <div class="form-group form-inline">
                    <button class="btn btn-primary">Save</button>
                </div>
            </div>
        }
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6" id="styleBorder">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Date Added</th>
                        <th>User</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var carModel in Model.Models)
                    {
                        <tr>
                            <td>@carModel.ModelName</td>
                            @foreach (var make in Model.MakesToQuery)
                            {
                                if (make.MakeId == carModel.MakeId)
                                {
                                    <td>@make.MakeName</td>
                                }
                            }
                            <td>@carModel.DateAdded.Month/@carModel.DateAdded.Day/@carModel.DateAdded.Year</td>
                            <td>@carModel.AddedByUser</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#formAddModel').validate({
                rules: {
                    'ModelToCreate.ModelName': {
                        required: true,
                        maxlength: 20
                    }
                }
            })
        })
    </script>
}
