<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guild Cars - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/ImagesSupport/carlogo-edited.jpg" alt="car logo" style="width: 81px; height: 54px; padding: 3px;"/>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Guild Cars Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("New Inventory", "New", "Inventory")</li>
                    <li>@Html.ActionLink("Used Inventory", "Used", "Inventory")</li>
                    <li>@Html.ActionLink("Specials", "Specials", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                    @if (User.IsInRole("sales"))
                    {
                    <li>@Html.ActionLink("Sales", "Index", "Sales")</li>
                    }

                    @if (User.IsInRole("admin"))
                    {
                        <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
