@model GuildCars.UI.Models.ReportsInventoryViewModel
@{
    ViewBag.Title = "Reports - Inventory";
}
<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-12">
            <h1>Inventory Report</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h4>New Vehicles</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6" id="styleBorder">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Count</th>
                        <th>Stock Value</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var newInv in Model.NewInventory)
                    {
                        <tr>
                            <td>@newInv.Year.Year</td>
                            <td>@newInv.MakeName</td>
                            <td>@newInv.ModelName</td>
                            <td>@newInv.Count</td>
                            <td>$@newInv.StockValue</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12">
            <h4>Used Vehicles</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6" id="styleBorder">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Count</th>
                        <th>Stock Value</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var usedInv in Model.UsedInventory)
                    {
                        <tr>
                            <td>@usedInv.Year.Year</td>
                            <td>@usedInv.MakeName</td>
                            <td>@usedInv.ModelName</td>
                            <td>@usedInv.Count</td>
                            <td>$@usedInv.StockValue</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>